<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <link rel="stylesheet" href="static/css/style.css">
        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>

  <h1><span class="red makebigger">M</span>auricios website</h1>
  <p>IS601Website Project.</p>

    <h2>Left Side</h2>
    <p><span class="red makebigger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit..</p>

        <h2>Main Content</h2>
        <span class="red makebigger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
        <span class="red makebigger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>

    <h2>Right Side</h2>
    <span class="red makebigger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit..</p>

     <p>Footer</p>
</body>
</html>
